<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./_share/metadata.ejs') %>
  <title>Top</title>
  <%- include('./_share/stylesheets.ejs') %>
  <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
  <div class="outer-frame">
    <%- include("./_share/navbar.ejs") %>
    <main role="main" class="container d-flex justify-content-md-center">
      <div class="align-self-center col-md-10">
        <h1 class="display-1 text-center my-5"><i class="fa fa-fw fa-shop"></i>shop search</h1>
        <div class="d-flex justify-content-center">
          <a class="btn btn-secondary w-50" href="/account/login">ログイン</a>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <a class="btn btn-secondary w-50" href="/account/register">新規登録</a>
        </div>
      </div>
    </main>
    <%- include("./_share/footer.ejs") %>
  </div>
  <%- include("./_share/javascript.ejs") %>
</body>

</html>